@model IEnumerable<Employee>
@{
    ViewBag.Title = "List Of Employees";
}

<h2 class="text-info">
    List Of Employees
</h2>
<hr />
<div class="row mr-1">
    <div class="ml-auto mb-2">
        <a asp-action="Create" asp-controller="Employee" class="btn btn-outline-info">
            Create new employee
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Office Email</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Department</th>
            </tr>
        </thead>
        @foreach (var emp in Model)
        {
            <tbody>
                <tr>
                    <td>@emp.EmployeeId</td>
                    <td>@emp.Name</td>
                    <td>@emp.Email</td>
                    <td>@emp.Gender</td>
                    <td>@emp.Salary.Value.ToString("c")</td>
                    <td>@emp.Department</td>
                    <td>
                        <a asp-action="Edit" asp-controller="Employee" class="btn btn-outline-dark mb-2" asp-route-id="@emp.EmployeeId">Edit</a>
                        <a asp-action="Details" asp-controller="Employee" class="btn btn-outline-info mb-2" asp-route-id="@emp.EmployeeId">View</a>
                        <a asp-action="Delete" asp-controller="Employee" class="btn btn-outline-danger mb-2" asp-route-id="@emp.EmployeeId">Delete</a>
                    </td>
                </tr>

            </tbody>
        }

    </table>
</div>
